html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

body {
	background: #95a5a6;
	color: #bdc3c7;
}

textarea {
	background: rgba(40, 42, 54, 0.99);
	color: #bdc3c7;
	font-size: 1.5em;
}

.dark-theme {
	background: rgba(40, 42, 54, 0.99);
	color: #bdc3c7;
}

.toolbar {
  font-size: 1.2em;
  display: inline-block;
  position: fixed;
  bottom: 0;
}

.small-icon {
  width: 8vh;
  height: 8vh;
}

.small-icon:hover {
  cursor: pointer;
}

.small-subheading {
	margin-bottom: 20px;
	text-decoration: underline;
}

#cell-box {
	width: 100vw;
	height: 85vh;
	border: 5px solid black;
	box-shadow: 3px 3px 3px grey;
	top: 0;
	position: absolute;
	display: none;
	overflow: scroll;
}

#settings-box {
	width: 100vw;
	height: 100vh;
	border: 5px solid black;
	box-shadow: 3px 3px 3px grey;
	top: 0;
	position: absolute;
	display: none;
	overflow: scroll;
}

#grid-select-box {
  width: 99vw;
  height: 85vh;
  border: 5px solid black;
  box-shadow: 3px 3px 3px grey;
  top: 0;
  position: absolute;
  display: none;
	overflow: scroll;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#help-box {
	width: 100vw;
	height: 100vh;
	border: 5px solid black;
	box-shadow: 3px 3px 3px grey;
	top: 0;
	position: absolute;
	display: none;
	overflow: scroll;
}

.main-heading {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-bottom: 3px solid black;
	margin-top: 10vh;
}

.main-text {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	margin-top: 10vh;
	font-size: 1.5em;
	font-family: serif;
	line-height: 1.5em;
}

.subheading {
	text-align: center;
	font-size: 1.5em;
}

.big-table {
  width: 100vw;
  height: 88vh;
}

.inner-cell {
  resize: none;
  width: 98%;
  height: 100%;
  border: 1px solid black;
	font-size: 9px;
}

.grid-list {
	text-align: center;
	font-size: 2em
}

.selected-grid {
	color: green;
}

.grid-list:hover {
	cursor: pointer;
	color: green;
	border: 1px solid black;
}

.text-pg {
	margin-top: 30px;
	margin-bottom: 30px;
}

.grid-buttons {
	background: #bdc3c7;
	color: black;
	font-size: 2em;
	text-align: center;
	font-family: serif;
	border: 1px solid black;
}

.grid-buttons:hover {
	cursor: pointer;
	background: #2980b9;
	color: #bdc3c7;
}

#add-grid-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

#delete-grid-button {
	padding-bottom: 10px;
}

a {
 color: #bdc3c7;
}

#output-box {

}

#choices-box {

}

.choiceslist:hover {
	cursor: pointer;
	color: green;
}

#gridinfo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: black;
}

.centered {
	text-align: center;
}

#landing {
	position: absolute;
	z-index: 50000;
	width: 100vw;
	height: 100vh;
	background: white;
}

#landing-box {
	width: 100vw;
	height: 100vh;
	border: 3px solid black;
	box-shadow: 1px 1px 1px black;
	color: black;
	overflow: scroll;
	font-size: 3em;
}

#landing-box a {
	color: #16a085;
}

#gogram {
	background: #16a085;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#gogram:hover {
	cursor: pointer;
}

.landing-text {
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-left: 10px;
	padding-right: 10px;
}

#landing-inside-box {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#landing-inside-box p {
	margin-bottom: 20px;
}

.black-and-white {
	background: black;
	color: white;
	font-size: 1.3em;
	padding: 0.4em
}
